html, body, section, header, img, nav, ul, li, aside, h2, h1, figure, p, label, article, figcaption, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
} 

ol, ul {
  list-style: none;
}

body {
  line-height: 1.5;
}

image {
  width: inherit;
}